
   <div class="container-fluid text-center text-md-left">
       <div class="row">
           <div class="mx-auto mt-md-0">
               <h5 class="text-uppercase text-center">D-Way Technologie</h5>
               <p class="text-center">Extraire facil avec D-Way ,APP project</p>
           </div>
           <hr class="clearfix w-100 d-md-none pb-3">
          
       </div>
   </div>
   <div class="footer-copyright text-center py-3">© 2018 Copyright:
       <a href=""> D-Way</a>
   </div>
