<div id="header-title">

</div>

<!--Navbar-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top p-4">
    <!-- Navbar brand -->
    <a class="navbar-brand text-dark font-weight-bold" href="#">DigitExtrait</a>
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-dark"></span>
    </button>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active navItem m-auto mx-3">
                <a class="nav-link  text-center text-dark  font-weight-bold mx-3" href="/">Accueil</a>
            </li>
            <li class="nav-item m-auto navItem">
                <a class="nav-link mx-3  text-dark  font-weight-bold" href="/connexion">Connexion</a>
            </li>
            <li class="nav-item m-auto navItem ">
                <a  class="nav-link mx-3  text-dark  font-weight-bold" href="/inscription">S'inscrire</a>
            </li>
        </ul>

    </div>
    
</nav>
<!--/.Navbar-->
