<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <!-- header -->
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <!-- / header -->

    <!-- main -->
    <main style="margin-top: 5em; " class="main-div">

        <div class="container row">
            <div class="col-md-6">
                <img class="img-fluid w-100 " style="height: 20em;" src="/images/bg1.png">
            </div>
            <div class="col-md-6 ">
                <div class="d-none d-md-block " style="margin-top:8em;">
                    <h4 class="font-weight-bold h4 my-auto text-dark text-center">Simple d'utilisation</h5>
                    <p class="text-dark text-center my-auto">Faites vos demandes en seulement quelques cliques</p>
                </div>
            </div>
        </div>
        <div class="design-line mx-auto mt-5 mb-5"></div>
        <!--<div class="container mx-auto mt-5 mb-5">
        <div id="my-carousel" class="carousel slide col-md-10 mx-auto text-center" data-ride="carousel">
          <ol class="carousel-indicators bg-red">
            <li class="active" data-target="#my-carousel" data-slide-to="0" aria-current="location"></li>
            <li data-target="#my-carousel" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="/images/bg1.png" alt="" style="height: 20em;">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="font-weight-bold h5 text-dark">Facil d'utilisation</h5>
                <p class="text-dark" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident repell</p>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/images/bg2.png" alt="" style="height: 20em;">
              <div class="carousel-caption d-none d-md-block text-dark">
                <h5 class="font-weight-bold text-dark h5">Sécurité assurée</h5>
                <p class="text-dark"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident repell</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#my-carousel" data-slide="prev" role="button">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only bg-red">Previous</span>
          </a>
          <a class="carousel-control-next" href="#my-carousel" data-slide="next" role="button">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only bg-red">Next</span>
          </a>
        </div>

      </div>-->

        <div class="pub-div container mt-5">
            <!-- comment faire une deamnde ?-->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-ripple-color="light">
                            <h3 class="h3 text-center text-capitalize font-weight-bold">Comment faire une demande d'extrait de naissance ?</h3>
                            <div class="mx-auto px-5">
                                Vous souhaitez faire une demande d'extrait de naissance en ligne ? Il vous suffit de suivre les étapes. Vous pourrez ensuite avoir accès à une copie authentifiée de votre extrait par e-mail.
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">

                                <div class="row">
                                    <div class="col-md-4 row col-12">
                                        <div class="col-md-12 col-2  mx-auto ">
                                            <div class="text-center mx-auto ol-fisrt1  ol-fisrt p-auto py-2 px-2 col-md-" style="background-color: ghostwhite; border: 1px solid green; height: 2.5em; width: 2.5em; border-radius: 1.5em; color: green;">
                                                <p class="text-center m-auto">1</p>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-10 mx-auto">
                                            <p class="text-center">Créer un compte</p>
                                        </div>
                                    </div>

                                    <div class="col-md-4 row col-12">
                                        <div class="col-md-12  col-2  mx-auto">
                                            <div class="text-center mx-auto ol-fisrt2 ol-fisrt  p-auto py-2 px-2 col-md-" style="background-color: ghostwhite; border: 1px solid green; height: 2.5em; width: 2.5em; border-radius: 1.5em; color: green;">
                                                <p class="text-center m-auto">2</p>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-10 mx-auto">
                                            <p class="text-center">Cliquer sur le bouton <span class="font-weight-bold text-primary">Faire une demande</span></p>
                                        </div>
                                    </div>

                                    <div class="col-md-4 row col-12">
                                        <div class="col-md-12 col-2 mx-auto">
                                            <div class="text-center mx-auto ol-fisrt3  ol-fisrt p-auto py-2 px-2 col-md-" style="background-color: ghostwhite; border: 1px solid green; height: 2.5em; width: 2.5em; border-radius: 1.5em; color: green;">
                                                <p class="text-center m-auto">3</p>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-10 mx-auto">
                                            <p class="text-center">Choisir l'offre</p>
                                        </div>
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>


                </div>

            </div>
            <!-- /comment ça marche-->

            <!-- card simple rapide securise-->
            <div class="row mt-5 cards">

                <!-- card simple-->
                <div class="col-md-4">

                    <div class="card mt-3 cards">
                        <div class="bg-image mx-auto p-2 text-center hover-overlay ripple" data-ripple-color="light">
                            <img src="/images/simplicite.png" class="img-fluid mx-auto text-center" style="height: 6em;" />

                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center text-capitalize">Simple</h5>
                            <p class="card-text">
                                Une expérience utilisateur comme jamais, pour vous offrir le meilleur. Suivez juste la vague 
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-md-4">

                    <!-- card rapide-->
                    <div class="card mx-auto mt-3">
                        <div class="bg-image mx-auto p-2 text-center hover-overlay ripple" data-ripple-color="light">
                            <img src="/images/rapidite.png" class="img-fluid mx-auto text-center" style="height: 6em;" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center text-capitalize"> Rapide</h5>
                            <p class="card-text">
                                Nous traitons aussi rapidement que possible votre demande pour que vous puissiez le recevoir le jour même.
                            </p>
                        </div>
                    </div>

                </div>

                <!-- card securise-->
                <div class="col-md-4">
                    <div class="card mx-auto mt-3">
                        <div class="bg-image mx-auto p-2 text-center hover-overlay ripple" data-ripple-color="light">
                            <img src="/images/securite1.png" class="img-fluid mx-auto text-center" style="height: 6em;" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center text-capitalize">Sécurisé</h5>
                            <p class="card-text">
                                Vos données sont son ten sécuritéé, ne craignez rien. Faites vos demandes sans vous en soucier.
                            </p>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </main>
    <!-- end main -->

    <!-- footer -->
    <footer class="page-footer font-small pt-4 mt-5">
        <%- include('../partials/footer.ejs') %>
    </footer>
    <!-- end footer -->




    <script type="text/javascript" src="/fontawesome/js/all.min.js"></script>
    <script type="text/javascript" src="/mdbootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="/mdbootstrap/js/popper.min.js"></script>
    <script type="text/javascript" src="/mdbootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/mdbootstrap/js/mdb.min.js"></script>
</body>

</html>