<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <!-- header -->
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <!-- / header -->

    <!-- main -->
    <main style="margin-top: 5em; " class="container">
        <div class="card col-8 mx-auto p-5">
            <h3 class="text-center h3 font-weight-bold">CHoississe un moyen de payement</h3>
            <div class="mx-auto row">
                <img class="col-4" src=" /images/orange.png " alt=" ">
                <img class="col-4" src="/images/mtn.jpg " alt=" ">
                <img class="col-4" src="/images/moov.jpg " alt=" ">

            </div>
            <div>
                <div class="form-group mt-3">
                    <form>
                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form1Example2">Entrer votre Numéro </label>
                            <input type="text" id="form1Example2" class="form-control" />
                        </div>

                        <!-- 2 column grid layout for inline styling -->
                        <div class="row mb-4">


                            <div class="col">
                                <!-- Simple link -->
                                <a href="#!">Vous recevrez une notification de payement sur votre numéro</a>
                            </div>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block">Validé</button>
                    </form>
                </div>
            </div>
        </div>


    </main>
    <!-- end main -->

    <!-- footer -->
    <footer class="page-footer font-small pt-4 mt-5 ">
        <%- include('../partials/footer.ejs') %>
    </footer>
    <!-- end footer -->




    <script type="text/javascript " src="/fontawesome/js/all.min.js "></script>
    <script type="text/javascript " src="/mdbootstrap/js/jquery.min.js "></script>
    <script type="text/javascript " src="/mdbootstrap/js/popper.min.js "></script>
    <script type="text/javascript " src="/mdbootstrap/js/bootstrap.min.js "></script>
    <script type="text/javascript " src="/mdbootstrap/js/mdb.min.js "></script>

</body>

</html>